@tailwind base;
@tailwind components;
@tailwind utilities;

abbr[title] { text-decoration: none; }

@page { margin: 1cm 0 1cm 0; }
@page :first { margin-top: 0; }
@media print {
  .break-after-always { break-after: always; }
  .break-after-avoid { page-break-inside: avoid; }
}
